{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			
		</div>
		<div class="col-sm-8">
			{%if validlink%}
			<form method="POST">
				{%csrf_token%}
				{{form|crispy}}
				<input type="hidden" name="next" value="{{next}}"/>
				<input class='btn btn-info' type="submit" value="change password">
			</form>
			{%else%}
			You may already used this password
			{%endif%}
		</div>
		<div class="col-sm-2">
			
		</div>
	</div>
	
</div>
{%endblock%}